<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150919189843-650npf4dk089vsnj7onlvl48n7nm69f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150919189843-650npf4dk089vsnj7onlvl48n7nm69f6</string>
	<key>API_KEY</key>
	<string>AIzaSyA8jIfQLBQmrnKg3iB0F8QXzk7-S3qI3xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>150919189843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krakatoor.OnlineShop</string>
	<key>PROJECT_ID</key>
	<string>onlineshop-e24bb</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineshop-e24bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150919189843:ios:8054b54856ddc00776bda6</string>
	<key>DATABASE_URL</key>
	<string>https://onlineshop-e24bb.firebaseio.com</string>
</dict>
</plist>